@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/** -------------------------------------Padding, Margins, Text, **/
body {
    font-family: 'Russo One', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

a:link {
    text-decoration: none;
}

#all-btns:hover {
    background-color: #E6E4E9;
    opacity: 0.9;
}

.btn-margin {
    margin-right: solid white 1px;
}

/** -------------------------------------NavBar **/
.nav-colour {
    background-color: hsl(0, 0%, 85%);
    padding: 5px;
}

.the-logo {
    font-size: 2rem;
    color: #001435;
}

.the-logo:hover {
    color: #001435;
    text-decoration: none;
}

.foot-link:hover {
    color: #001435;
    text-decoration: none;
}

.nav-link {
    color: black;
}

/* Underline From Center  from Ian Lunn - Front-end Developer*/
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #17a2b8;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/* Bounce In */
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/** By Eatmore.io **/
.register-btn {
    background-color: #17a2b8;
    color: whitesmoke;
    background-image: linear-gradient(-180deg, #17a2b8 0%, #17a2b8 100%);
    border-radius: .1rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    text-decoration: none;
    width: 10%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.return-home-btn {
    color: #001435;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    border: 0;
    cursor: pointer;
}


.enquiry-btn {
    background-color: #17a2b8;
    color: whitesmoke;
    background-image: linear-gradient(-180deg, #17a2b8 0%, #17a2b8 100%);
    border-radius: .1rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    text-decoration: none;
    width: 20%;
    border: 0;
    cursor: pointer;
    margin: 5px 0;
}
@media (min-width: 768px) {
    .button-43 {
        padding: 1rem 2rem;
    }
}

/** ------------------------------------- End of NavBar **/



/** ------------------------------------- Logo Section **/
.first-bg-image {
    background-image: url('https://s1.gifyu.com/images/artem-verbo-Vc8jfmzWoFE-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
}

.bg-black-op {
    background-color: #001435;
    opacity: 0.9;
}

.welcome-msg {
    text-align: center;
    color: white;
    width: fit-content;
    margin-top: 15%;
}

.welcome-msg span {
    font-size: 1.2rem;
}

/** ------------------------------------- End of Logo Section **/



/** ------------------------------------- Pool Ethos (First Article) **/

.pool-info {
    padding: 1.5rem;
    border-radius: 5px;
    width: 100%;
    font-size: 1.3rem;
}

.pg-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

small {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

/** Page motivational quotes **/
.blockquote {
    background-color: hsl(0, 0%, 85%);
    text-align: center;
    padding: 2px 0;
    margin: 0;
    width: 100%;
}

/** ------------------------------------- End of Pool Ethos (First Article) **/



/** ------------------------------------- Pool Opening Hours (Second Article) **/
/* Pool opening hours sections */
.table-content {
    box-shadow: 0 0 15px #001435;
}

.table-content tbody tr:nth-of-type(even) {
    background-color: hsl(0, 0%, 85%);
}

.home-images img {
    box-shadow: 0 0 5px #001435;
    width: 100%;
    height: auto;
}

/** ------------------------------------- End of Pool Opening Hours (Second Article) **/



/** ------------------------------------- Booking.Html Section **/

/** Table css from @ Chris Coyier **/
table { 
    width: 100%; 
    border-collapse: collapse; 
    margin: auto;
  }
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  td, th { 
    padding: 6px; 
    text-align: left; 
  }




/** ------------------------------------- Facilities.Html Section **/

#sauna-bg {
    background-image: url('https://s9.gifyu.com/images/huum-aCLk3GetkO0-unsplash.jpg');
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
}

#ss-header {
    font-size: 3rem;
    color: #FFFFFF;
}
/** ------------------------------------- Endof Facilities.Html Section **/





/** ------------------------------------- Contact-Us.Html Section **/


.con-form {
    background-color: hsl(0, 0%, 85%);
    height:auto;
    margin: auto auto;
    box-shadow: 0 0 5px #001435;
    border-radius: 10px;
}
/** ------------------------------------- Endof Contact-Us.Html Section **/









/** ------------------------------------- Footer Section **/
footer {
    background-color: hsl(0, 0%, 85%);
}

.foot-link {
    font-size: 1.2rem;
    color: #001435;
    border: 1.5px solid #001435;
    border-radius: 100%;
    width: 100px;
    height: 100%;
    padding: 2px 5px;
}

/** ------------------------------------- Endof Footer Section **/




/**------------------ colours **/
.cl-black {
    color: #001435;
}

.cl-silver {
    background-color: hsl(0, 0%, 85%);
}

hr.cl-black {
    border: 1px solid #001435;
}

.bg-green {
    background-color: #83DA86;
}

.grad {
    background: radial-gradient(circle, rgba(32,152,209,1) 51%, rgba(238,174,202,1) 100%);
    color: #1E1E1E;
  }

.red-btn {
    background: red;
}
.bg-blue {
    background-color: #17a2b8;
}
/**------------------ Endof colours **/



/*---------------------------- Media queries **/
@media screen and (max-width:1075px) {
    .register-btn {
        font-size: 13px;
        padding: 5px;
    }
}

@media screen and (max-width:995px) {
    #hide {
        display: none;
    }
}

@media screen and (max-width:400px) {
    .the-logo {
        font-size: 1.5rem;
    
    }
}





/*---------------------------- Responsive table **/

@media screen and (max-width: 760px),
(min-width: 768px) and (max-width: 1024px) {
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}