{% extends "base.html" %}

{% block title %} Active-Spring swimming pool {% endblock%}

{% block content %}
<div class="container-fluid ">
  <div class="d-flex align-items-center p-4">
    <div class="col-lg-12 m-auto w-100">
      <h1 class="text-center">Bookings</h1>
      {% if user.is_authenticated %}
      <div>
        <a href="{% url 'bookings:create' %}" class="booking-btn text-center m-auto w-100">Make a booking</a>
      </div>
      <table class="table table-striped ">
        <thead>
          <tr>
            <th scope="col">Booking ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">No. Of Perosn</th>
            <th scope="col">Booked On</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customers %}
          <tr>
            <td>{{customer.booking_id}}</td>
            <td>{{customer.full_name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.no_of_persons}}</td>
            <td>{{customer.booked_on}} </td>
            <td><a href="{% url 'bookings:update' customer.booking_id %}"> Change booking</a> </td>
            <td><a href="{% url 'bookings:delete' customer.booking_id %}"> Delete/Cancel booking</a> </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}

      <p>You have no bookings</p>

      <!-- Modal -->
      <div id="myModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Sign Up or Sign In to book your swimming slots today!</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <p>Get active and enjoy a good swim.</p>
                <a href="{% url 'account_login' %}" class=" nav-link navbar-nav p-2 register-btn ml-1  d-inline text-center">Sign In</a>
                <a href="{% url 'account_signup' %}" class=" nav-link navbar-nav p-2 register-btn ml-1  d-inline text-center">Sign Up</a>
            </div>
          </div>
        </div>
      </div>

      {% endif %}

    </div>

  </div>

</div>

{% endblock content %}