{% extends "base.html" %}

{% block title %} Active-Spring | Home{% endblock%}

{% block content %}

 <!-- Logo Section-->
 <section class="container-fluid first-bg-image p-0">

     <div class="row m-0">

         <div class="col-lg-8 col-md-12 col-sm-12 text-center">

             <h1 class="welcome-msg bg-black-op rounded">Welcome to Active-Spring swimming Pool

                 <br>

                 <span class="welcome-msg mt-0 pg-text">Our pool, along with the facilities and services we offer,
                     has been ranked among<br>the best in the UK. Book your daily swims today!</span>
             </h1>

         </div>

     </div>

 </section>
 <!-- / .Logo Section-->

 <!-- Pool Ethos (First Article)-->
 <article class="container-fluid p-0">


    <blockquote class="blockquote m-0 p-0">

        <p class="mb-0">"If you haven't failed, you aren't pushing hard enough."</p>

        <footer class="blockquote-footer">ADAM PEATY</footer>

    </blockquote>

    <div class="col-lg-12 col-sm-12 mt-auto mb-auto pool-info">

        <h3 class="text-center"> We at Active-Spring </h3>

        <small> are aware that maintaining your physical fitness is crucial to leading a happy and healthy
             life.
             You may have heard that specialists advise adults to engage in 150 minutes of moderate exercise
             or 75 minutes of intense exercise per week.
             Here at Active-Spring, we follow our passions by using swimming to achieve these goals. Swimming
             is not only fun, but it also has many health benefits.
             Swimming is an excellent way to work your entire body and cardiovascular system. An hour of
             swimming burns almost as many calories as running, without
             all the impact on your bones and joints.
        </small>

    </div>

 </article>
 <!-- / .Pool Ethos (First Article)-->

 <!-- Pool Opening Hours (Second Article) -->
<article class="container-fluid p-0">

    <div class="row p-0 m-auto">

        <div class="col-12 m-auto">

            <h4 class="text-center">Pool Opening Hours</h4>

            <hr class="cl-black">

            <table class="table table-striped text-center">

                <tbody>


                    <tr>

                        <td>Monday</td>
                        <td>08:00</td>
                        <td> 18:00</td>

                    </tr>

                    <tr>

                        <td>Tuesday</td>
                        <td>08:00</td>
                        <td> 18:00</td>

                    </tr>

                    <tr>

                        <td>Wednesday</td>
                        <td>08:00</td>
                        <td> 18:00</td>

                    </tr>

                    <tr>

                        <td>Thursday</td>
                        <td>08:00</td>
                        <td> 18:00</td>

                    </tr>

                    <tr>

                        <td>Friday</td>
                        <td>08:00</td>
                        <td> 18:00</td>

                    </tr>

                    <tr>

                        <td>Saturday</td>
                        <td>08:00</td>
                        <td> 18:00</td>

                    </tr>
                    <tr>

                        <td>Sunday</td>
                        <td>08:00</td>
                        <td> 18:00</td>

                    </tr>

                </tbody>

            </table>

            <hr class="cl-black the-table">

        </div>

    </div>

</article>
 <!-- / .Pool Opening Hours (Second Article) -->

<article class="container-fluid p-0">

    <blockquote class="blockquote m-0 p-0">

        <p class="mb-0">"If there is a dream or a goal that you want, you have to go for it 100%."</p>

        <footer class="blockquote-footer">Alia Atkinson</footer>

    </blockquote>

    <div class="row p-0 m-auto">

        <div class="col-lg-6 col-md-5 col-sm-12 ml-auto p-0">

            <div class="text-center p-3 home-images">

                <img src="https://s9.gifyu.com/images/artem-verbo-rAyIvNqlwCY-unsplash.jpg" alt="Image of an indoor pool.">

            </div>

        </div>

        <div class="col-lg-4 col-md- col-sm-12 mt-5 mb-auto mr-auto">

            <h4 class="text-center">Indoor Pool</h4>

            <hr class="cl-black">

            <small> In our heated indoor pool, feel free to jump in and make a splash. Our indoor pool has a shallow
                end
                and a deep end, with
                a shallow end that is 1.2m deep and a deep end that is 3.8m deep. The pool is approximatley 100m in
                length, 50m in width and has
                a total of ten swimming lanes.
                Up to 120 people can use the pool at once. Each session lasts an hour, and our guests are free to book
                however many sessions
                they require. Once the pool is open, lifeguards are positioned around the pool to keep our guests safe,
                and there are safety
                warnings posted all around the pool that visitors must abide by.
            </small>

        </div>

    </div>

</article>

{% endblock content %}
