{% extends "base.html" %}

{% block title %} Active-Spring | Update Booking {% endblock%}

{% block content %}
<div class="container mb-auto">
    <div class="row d-flex align-items-center p-4">
        <div class="col-lg-12 m-auto w-100">
            <h1 class="text-center"> Update Booking</h1>
        </div>
        <div class="col-md-8 mt-3 offset-md-2 con-form">

            <form method="POST" class="p-3 w-100">

                <!-- Security token -->
                {% csrf_token %}
                {{form.as_p}}
                <input  type="submit" class="btn enquiry-btn p-1 w-auto" value="Update Booking">
            </form>
        </div>
    </div>
</div>
{% endblock content %}