{% extends "base.html" %}

{% block title %} Active-Spring | Sauna and Steam {% endblock%}

{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center p-5 " id="sauna-bg">
            <h2 class="p-5" id="ss-header"> Saunas and Steam Rooms</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 text-left ml-auto p-5">
            <h2 class="text-center">Sauna</h2>
            <hr class="cl-black">
            <small> The Sauna is free to use once you have booked to use the swimming pool. The finest part of a good
                workout can be unwinding in a warm, woodsy-scented sauna,
                or it might be something you only do while you're on vacation. Saunas can be relaxing and have health
                advantages, such as easing minor aches and pains, whether
                you use them frequently or simply occasionally. Our sauna has a gauge so that users may frequently check
                the temperature while using it. Customers can utilise
                the Hourglass there as well to help them manage their time in the sauna carefully.
            </small>
            <h2 class="text-center mt-5">Sauna benefits</h2>
            <hr class="cl-black">
            <small>
                Sauna-induced sweating might be advantageous. A Reliable Source for People
                with Peripheral Arterial Disease, COPD, and Congestive Heart Failure. Saunas can be beneficial for
                muscle rehabilitation following physical activity and for
                easing the symptoms of rheumatoid arthritis. Sauna bathing may be beneficial for those who are depressed
                or anxious.
            </small>
            <h2 class="text-center mt-5">How to use Sauna</h2>
            <hr class="cl-black">
            <ul>
                <li>
                    <small>
                        Take a quick, post-workout shower prior to using the sauna.
                    </small>
                </li>
                <li>
                    <small>
                        To prevent dehydration, make sure to drink enough of water both before and after utilising any
                        of these rooms. You could even carry a bottle of water with
                        you so you can sip from it anytime you get thirsty.
                    </small>
                </li>
                <li>
                    <small>
                        Bring clean towels and sandals to the sauna.
                    </small>
                </li>
                <li>
                    <small>
                        Enter and exit quickly. Saunas are airtight, to keep the heat inside. Opening the door releases
                        heat, and should be done expeditiously.
                    </small>
                </li>
                <li>
                    <small>
                        Don’t stretch out if the sauna is crowded.
                    </small>
                </li>
                <li>
                    <small>
                        If the temperature is too hot or cold for you, ask for a group consensus prior to adjusting the
                        thermostat. Keep in mind that you can also
                        adjust the temperature to your personal liking by changing your seat level.
                    </small>
                </li>
                <li>
                    <small>
                        Keep conversation low, and do not employ rowdy behavior. Saunas are designed for relaxation.
                    </small>
                </li>
                <li>
                    <small>
                        Lastly, you should always abide by the safety and hygiene rules to keep the rooms clean and safe
                        for everyone else to
                        enjoy. If you have a medical condition, do consult your doctor before entering these rooms.
                    </small>
                </li>
            </ul>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 mt-5 mr-auto p-0">
            <div class="text-center p-2 home-images">
                <img src="https://s3.gifyu.com/images/birk-enwald-Aue1vt5naxA-unsplash.jpg" alt="An image of a sauna">
            </div>
            <div class="text-center p-2 home-images">
                <img src="https://s3.gifyu.com/images/crystalweed-cannabis-730OPl8S9W4-unsplashea77bc3627ecca3c.jpg"
                    alt="Image of a woman inside of a sauna">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-5 col-sm-12 m-auto p-0">
            <div class="text-center p-3 home-images">
                <img src="/static/images/5c717e08-314c-451b-9e0f-e24db79b0e42.jpg"
                    alt="A photo of a man lying inside of a sauna">
            </div>
        </div>
        <div class="col-lg-5 text-left p-5">
            <h2 class="text-center">Steam Room</h2>
            <hr class="cl-black">
            <small>
                The Steam Room is free to use once you have booked to use the swimming pool. Steam rooms are similar to
                saunas, but the key to the steam room’s unique health benefits
                is the humidity. Our Steam rooms are heated by steam from a generator filled with boiling water.

            </small>
            <h2 class="text-center mt-5">SteamRoom benefits</h2>
            <hr class="cl-black">
            <small>
                A steam room has many health advantages, including improved circulation, less stress, and better skin
                health. Similar to a pre-exercise warm-up, using a steam room
                before a workout will assist to loosen up the joints and promote flexibility. It is also beneficial for
                people whose muscles hurt after working out. To encourage a speedy
                and healthy recovery, it is crucial to relax the muscles during this pain, also referred to as delayed
                onset muscle soreness.
            </small>
            <h2 class="text-center mt-5">How to use Steam Room</h2>
            <hr class="cl-black">

            <ul>
                <li>
                    <small>
                        Take a quick, post-workout shower prior to using the SteamRoom.
                    </small>
                </li>
                <li>
                    <small>
                        To prevent dehydration, make sure to drink enough of water both before and after utilising any
                        of
                        these rooms. You could even carry a bottle of water with
                        you so you can sip from it anytime you get thirsty.
                    </small>
                </li>
                <li>
                    <small>
                        Enter and exit quickly. Steam rooms are airtight, to keep the heat inside. Opening the door
                        releases
                        heat, and should be done expeditiously.
                    </small>
                </li>
                <li>
                    <small>
                        Don’t stretch out if the Steam room is crowded.
                    </small>
                </li>
                <li>
                    <small>
                        If the temperature is too hot or cold for you, ask for a group consensus prior to adjusting the
                        thermostat.
                    </small>
                </li>
                <li>
                    <small>
                        Keep conversation low, and do not employ rowdy behavior. Saunas are designed for relaxation.
                    </small>
                </li>
                <li>
                    <small>
                        Lastly, you should always abide by the safety and hygiene rules to keep the rooms clean and safe
                        for
                        everyone else to
                        enjoy. If you have a medical condition, do consult your doctor before entering these rooms.
                    </small>
                </li>
            </ul>

        </div>
    </div>
</section>

{% endblock content %}