{%load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Active-Spring swimming pool {% endblock%}</title>
    <!--Boostrap CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!--Personal CSS-->
    <link rel="stylesheet" href="/static/css/style.css">
    <!--Fontawesome kit-->
    <script src="https://kit.fontawesome.com/95bc93f676.js" crossorigin="anonymous"></script>

    <!--EmailJs script-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function () {
            emailjs.init("XAx_NGI2tj6CUrx52");
        })();
    </script>
    <!-- / .EmailJs script-->
</head>

<body>
    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light nav-colour">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="{% url 'bookings:index'%}" class=" navbar-brand the-logo mb-0 top-fixed"> Active<i
                    class="fa-solid fa-bolt"></i>Spring</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a href="{% url 'bookings:booking' %}" class="nav-link hvr-underline-from-center">Bookings<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a href="{% url 'webpages:sauna-steam' %}" class="nav-link hvr-underline-from-center">Facilities</a>
                    </li>
                    <li class="nav-item active">
                        <a href="{% url 'webpages:contact-us' %}" class="nav-link hvr-underline-from-center">Contact Us</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a href="{% url 'account_logout' %}" class="nav-link hvr-underline-from-center d-lg-none">Sign Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item active">
                        <a href="{% url 'account_login' %}" class="nav-link hvr-underline-from-center d-lg-none">Sign In</a>
                    </li>
                    <li class="nav-item active">
                        <a href="{% url 'account_signup' %}" class="nav-link hvr-underline-from-center d-lg-none">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
                <div id="hide">
                    {% if user.is_authenticated %}
                        <a href="{% url 'account_logout' %}" class=" nav-link navbar-nav p-2 register-btn ml-1  d-inline text-center">Sign Out</a>
                    {% else %}
                        <a href="{% url 'account_login' %}" class=" nav-link navbar-nav p-2 register-btn ml-1  d-inline text-center">Sign In</a>
                        <a href="{% url 'account_signup' %}" class=" nav-link navbar-nav p-2 register-btn ml-1  d-inline text-center">Sign Up</a>
                    {% endif%}
                </div>
            </div>
        </nav>
    </header>
    <!-- / .Header -->
    <main>

        {% block content %}
        <!-- Content goes here! -->
        {% endblock content %}

    </main>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous">
    </script>
    <script src="/static/js/send-email.js"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>